@model List<Effort_Tracking_System.user_task_assignment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Shift Change Request</title>
    @*Include Bootstrap CSS*@
   @* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">*@
    <style>
        .custom-container {
            display: flex;
            align-items: flex-start;
        }



        .form-column {
            flex: 1;
        }



        .checkbox-column {
            flex: 1;
            padding-left: 20px;
        }
    </style>
</head>
<body>



    <div class="container mt-4">
        <h1>Shift Change Request</h1>
        <div class="custom-container">
            <div class="form-column">
                <form id="shiftChangeForm">
                    <div class="form-group">
                        <label for="projectSelect">Project</label>
                        <select class="form-control" id="projectSelect">
                            @foreach (var item in ViewBag.Details)
                            {
                                <option value="@item.project.project_id">@item.project.name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="taskSelect">Select Task</label>
                        <select class="form-control" id="taskSelect">
                            @foreach (var item in ViewBag.Details)
                            {
                                <option value="@item.task.task_id">@item.task.task_name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="chooseShift">Choose Shift:</label>
                        <select class="form-control" id="chooseShift" name="chooseShift">
                            <!-- Options for Shift... -->
                            @foreach (var item in ViewBag.Details)
                            {
                                <option value="@item.shift.shift_id">@item.shift.shift_name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hoursSelect">Hours:</label>
                        <select class="form-control" id="hoursSelect">



                            @foreach (var item in ViewBag.Details)
                            {
                                <option value="@item.hours">@item.hours</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
            <div class="checkbox-column">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="changeShift" name="changeShift">
                    <label class="form-check-label" for="changeShift">Change Shift</label>
                </div>
                <div class="row d-none" id="shiftDetails">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="newShift">New Shift:</label>
                            <select class="form-control" id="newShift" name="newShift">
                                <option value="morning">Morning</option>
                                <option value="afternoon">Afternoon</option>
                                <option value="night">Night</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="changeDate">Change Date:</label>
                            <input type="date" class="form-control" id="changeDate" name="changeDate">
                        </div>
                        <div class="form-group">
                            <label for="shiftTimings">Shift Timings:</label>
                            <select class="form-control" id="shiftTimings">



                                @*<input type="text" class="form-control" id="shiftTimings" name="shiftTimings">*@
                                @foreach (var item in ViewBag.Details)
                                {
                                    <option value="@item.shift.shift_id">@item.shift.start_time @item.shift.end_time </option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="unavailabilityReason">Shift Unavailability Reason:</label>
<textarea class="form-control" id="unavailabilityReason" name="unavailabilityReason"></textarea>
                        </div>
                        <button type="button" class="btn btn-primary" id="submitShiftChange">Submit Shift Change</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Include jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <script>$(document).ready(function () {
            $("#changeShift").on("change", function () {
                if ($(this).is(":checked")) {
                    $("#shiftDetails").removeClass("d-none");
                } else {
                    $("#shiftDetails").addClass("d-none");
                }
            });



            $("#submitShiftChange").on("click", function () {
                // Handle shift change submission here
                alert("Shift change request submitted!");
            });



            $("#shiftChangeForm").submit(function (e) {
                e.preventDefault();
                // Handle form submission here
                alert("Form submitted!");
            });
        });</script>



</body>
</html>