@model  Effort_Tracking_System.Assign_Task

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Assigned Task
                </div>
                <div class="card-body">
                    @if (Model != null)
                    {
                        <form action="/EffortTrack/SubmitEffort" method="post">
                            <input type="hidden" id="assign_task_id" name="assign_task_id" value="@Model.assign_task_id"><br>

                            <label for="project_name">Project Name:</label>
                            <span>@Model.Project.name</span><br>
                            

                            <label for="task_name">Task Name:</label>
                            <span>@Model.Task.task_name</span><br>

                            <label for="shift_times">Shift:</label>
                            <span>@Model.Shift.start_time - @Model.Shift.end_time</span><br>

                            <label for="hours_worked">Hours Worked:</label>
                            <input type="number" id="hours_worked" name="hours_worked" required min="1" max="9"><br>

                            <input type="hidden" id="date_time" name="date_time" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                            <input type="hidden" id="status" name="status" value="Pending">

                            <button class="btn btn-primary mt-3" type="submit">Submit</button>
                        </form>
                    }
                    else
                    {
                        <p>No tasks to submit.</p>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-footer">
                    <label class="custom-checkbox">
                        <input type="checkbox" id="unavailabilityCheckbox"> check box for Leave
                    </label>
                </div>
                <div class="card-body" id="unavailabilityForm" style="display: none;">
                    <form action="/EffortTrack/SubmitLeave" method="post">

                        <div class="form-group mb-3">
                            <input type="hidden" id="user_id" name="user_id" value="@ViewBag.userid">
                            <label for="date"><strong>Date:</strong></label>
                            <input type="date" class="form-control" name="date" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="shift"><strong>Shift:</strong></label>
                            <select class="form-control" name="shift_id" required>
                                <option selected>Select shift</option>
                                @foreach (var item in ViewBag.Shifts)
                                {
                                    <option value="@item.shift_id">@item.start_time - @item.end_time</option>
                                }
                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label for="reason"><strong>Reason:</strong></label>
                            <textarea class="form-control" name="reason" required></textarea>
                        </div>

                        <input type="hidden" id="status" name="status" value="Pending">

                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const unavailabilityCheckbox = document.getElementById("unavailabilityCheckbox");
        const unavailabilityForm = document.getElementById("unavailabilityForm");

        unavailabilityCheckbox.addEventListener("change", function () {
            unavailabilityForm.style.display = this.checked ? "block" : "none";
        });
    });
</script>

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <script>
            alert("@ViewBag.SuccessMessage");
    </script>
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <script>
            alert("@ViewBag.ErrorMessage");
    </script>
}