<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
       
    </style>

    @if (!string.IsNullOrEmpty(ViewBag.LoginStatusMessage))
    {
        <script>
            window.onload = function() {
                var loginStatusMessage = '@Html.Raw(Json.Encode(ViewBag.LoginStatusMessage))';
                var alertType = '@Html.Raw(Json.Encode(ViewBag.LoginStatusMessage.Contains("failed") ? "danger" : "success"))';
                if (alertType === 'danger') {
                    alert(loginStatusMessage);
                } else {
                    alert(loginStatusMessage);
                    window.location.href = '/home/Login'; 
                }
            }
        </script>
    }
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card bg-transparent shadow-lg mt-5">
                    <div class="card-header text-center">Login</div>
                    <div class="card-body">
                        <form action="/home/Login" method="post">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="email" name="email" placeholder="John@gmail.com" autofocus required>
                                <label for="email">Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="pass_word" name="password" placeholder="******" required>
                                <label for="pass_word">Password</label>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-success" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                    </svg>
                                    Login to continue
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>