@model Effort_Tracking_System.Effort

<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Project</th>
            <th>Task</th>
            <th>Shift</th>
            <th>Date</th>
            <th>Hours Worked</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Efforts != null)
        {
            foreach (var effort in ViewBag.Efforts)
            {
                <tr>
                    <td>@effort.Assign_Task.User.first_name @effort.Assign_Task.User.last_name</td>
                    <td>@effort.Assign_Task.Project.name</td>
                    <td>@effort.Assign_Task.Task.task_name</td>
                    <td>@effort.Assign_Task.Shift.start_time-@effort.Assign_Task.Shift.end_time</td>
                    <td>@effort.date_time.ToString("yyyy-MM-dd")</td>
                    <td>@effort.hours_worked</td>
                    <td>
                        <form action="/admin/ApproveEffort?effortid=@effort.effort_id" method="post">
                            <button type="submit" class="btn btn-success">Approve</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<script src="~/bundles/jquery"></script>
<script src="~/bundles/bootstrap"></script>