@model Effort_Tracking_System.User

<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<form action="/admin/UserAction" method="post">
    <div class="container">
        <div class="row gx-3">
            <div class="col-md-6">
                <div class="mb-3">
                    <input type="text" class="form-control form-control-sm" name="first_name" placeholder="first name">
                    @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <input type="text" class="form-control form-control-sm" name="last_name" placeholder="last name">
                    @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <input type="text" class="form-control form-control-sm" name="designation" placeholder="designation">
                    @Html.ValidationMessageFor(model => model.designation, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <input type="text" class="form-control form-control-sm" name="email" placeholder="email">
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <input type="password" class="form-control form-control-sm" name="password" placeholder="password">
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-grid">
                    <button type="submit" class="btn btn-sm btn-success" name="action" value="create">Create</button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="d-grid">
                    <a href="#" class="btn btn-sm btn-primary" data-bs-dismiss="modal" aria-label="Close">Discard</a>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/bundles/jquery"></script>
<script src="~/bundles/bootstrap"></script>

